body{
    background-color: aqua;
}
h1{
    color: red;
    font-size: 100px;
}

.bacon{
    background-color:red;
}
.broccoli{
    background-color: blue;
}
.circular{
    border-radius: 100%;
}
img:hover{
    background-color:gold ;
}